.wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
}

.wrapper-calendar {
}

.calendar {
  width: 95%;
  height: 100%;
}

.grade {
  width: 90%;
  height: 100%;
}

.notification {
  width: 90%;
  height: 100%;
}

.wrapper-grade {
}

.wrapper-notificition {
}
