.wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
}

.wrapper-calendar {
}

.calendar {
  width: 95%;
  height: 100%;
}

.wrapper-grade {
  background-color: pink;
}

.wrapper-notificition {
  background-color: hotpink;
}
