.wrapper-title {
  padding-top: 0;
  height: 15%;
}

.title {
  margin-top: 0;
  padding-top: 0;
}

.wrapper-cards {
  /* width: 100%; */
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* justify-items: center; */
  /* flex-direction: row; */
}

.tile {
}

.card {
  flex-grow: 1;
  flex-shrink: 0.5;
  height: 100%;
  /* position: relative; */
}
